@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0; /* Remover margens padrão para garantir que não haja espaçamento adicional */
  padding: 0; /* Remover padding padrão */
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  background-color: #292929;
}

.container {
  display: flex;
  flex-direction: column;
}

#sidebar {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 1em;
  width: 20%;
  min-height: calc(100vh - 80px); /* Use min-height aqui */
  box-sizing: border-box;
  overflow-y: auto; /* Adicionei scroll se o conteúdo for maior que a altura da barra lateral */
  background-color: #4a4a4a;
}

#sidebar a {
  display: block;
  padding: 1em;
  margin-bottom: 0.5em;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease; /* Adicionei uma transição suave na mudança de cor de fundo */
}

#sidebar a:hover {
  background-color: #555; /* Cor de fundo quando hover */
}


.section-form {
  flex: 1; /* Faz com que a seção de formulário ocupe o restante do espaço disponível */
  padding: 1em;
}

.form-group {
  margin-bottom: 1em;
}

.content {
   /*flex: 1; Faz com que a seção de conteúdo ocupe o restante do espaço disponível */
  display: flex;
}

#userForm {
  flex: 1; /* Faz com que a lista de usuários ocupe o restante do espaço disponível na horizontal */
  padding: 1em;
}

fieldset {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
}